.container {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: 0.9s ease;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
	-0-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
}
.social {
	background:#fff;
}
.social ul {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
.social ul li{
	display:inline-block;
	padding:10px 10px;
}
.social ul li a {
	font-size:18px;
	transition:0.6s ease;
}
.social ul li a:hover {
	color:#E9682E;
}
.mail {
	background:#E9682E;
}
.mail_area {
	background:#E9682E;
}
.mail_area ul {
	margin:0;
	padding:0;
	list-style:none;
}
.mail_area ul li{
	float:left;
	padding:13px 15px;
}
.mail_area ul li a{
	color:#fff;
}
.mail_area ul li a:hover {
	text-decoration:none;
}
.logo {
	background:#E9682E;
	overflow:hidden;
	padding:20px 0;
	text-align:center;
}
.logo img {
	width:60%;
}
.pad {
	padding:0;
}
.menu {}
.menu ul {
	margin:0;
	padding:0;
	list-style:none;
}

.menu ul li a{
	text-decoration:none;
	display:block;
	padding:25px 20px;
	color:#E9682E;
	font-weight:bold;
	transition:0.6s ease;
}
.menu ul li a:hover{
	background:#E9682E;
	color:#fff;
}
.events {
	padding:10px 20x;
}
.events h4, .programe_inner h2, .apply_inner h2{
	display:block;
	background:#E9682E;
	color:#fff;
	font-weight:bold;
	font-size:20px;
	padding:15px;
}
.featured {
	margin-bottom:30px;
	overflow:hidden;
	background: #f8f8f8; /* Old browsers */
background: -moz-linear-gradient(top,  #f8f8f8 0%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8f8f8 0%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
box-shadow:1px 1px 3px rgba(0,0,0,0.0)
}
.featured_inner {
	padding:10px;
	overflow:hidden;
	
}
.featured_img {
	width:40%;
	float:left;
}
.featured_img img{
	width:100%;
	margin-right:10px;
}
.featured_txt {
	width:60%;
	float:right;
}
.featured_txt h4, .featured_txt2 h4 {
  color: #e9682e;
  margin: 0;
  padding-left: 5%;
  font-size: 16px;
  font-weight: bold;
}
.featured_txt h6{
  margin-top:0px;
  margin-bottom:5px;
  padding-left: 5%;
  font-size: 10px;
  font-weight: bold;
}
.featured_txt p, .featured_txt2 p{
	padding-left:5%;
	font-size:13px;
}
.form {
	padding-top:0px;
	padding-bottom:10px;
}
.footer_area {
	background:#121315;
	overflow:hidden;
}
.footer_about, .footer_news, .links, .contact_now {
	padding-left:20px;
	padding-bottom:30px;
}
.footer_about h2, .online h2, .newsletter h2, .links h2 {
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.footer_about p, .online p, .newsletter p {
	color:#8B8B9F;
	font-size: 14px;
	line-height:18px;
}
.footer_news, .links, .contact_now {
	margin-left:20px;
}
.online {}
.online h2{}
.online p{}
.newsletter {}
.newsletter h2{}
.newsletter p{}
.newsletter input[type="email"] {
  height: 40px;
  width: 68%;
  color:#8B8B9F;
  border-radius:0;
  border:none;
  padding:5px 10px;
}
.newsletter input[type=submit]{
	background:#E9682E;
	width:30%;
	border:none;
	color:#fff;
	font-weight:bold;
	padding:10px 30px;
	margin-left:-10px;
}
.links {}
.links h2{}
.links ul{
	margin:0;
	padding:0;
	list-style:none;
}
.links ul li{}
.links ul li a{
	color:#8B8B9F;
	transition:0.6s ease;
}
.links ul li a:hover{
	text-decoration:none;
	color:#fff;
}
.contact_now {
	margin-top:20px;
}
.contact_now p{
	color:#8B8B9F;
	font-size:12px;
}
.contact_now span {
  display: inline-block;
  font-size:18px;
}
.contact_now a{
	color:#E9682E;
}
.contact_now a:hover{
	text-decoration:none;
}
.contact_now i {
  background: #e9682e;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  padding: 15px 20px;
}
.footer_bottom {
	background:#232323;
	margin-bottom:40px;
}
.copy {}
.copy a{
	color:#8B8B9F;
}
.copy p{
	color:#8B8B9F;
	padding:10px 20px;
}
/* =============  program page ============== */

.star {
	color:red;
}
.apply_form {
	padding-right:20px;
	padding-bottom:40px;
}
label {
	display:block;
}
.form-group input[type=text], .form-group input[type=email], .form-group input[type=date], .form-group textarea, .form-group select, .form select  {
	border-radius:0;
}
.apply_form input[type=submit] {
	background:#E9682E;
	color:#fff;
	font-weight:bold;
	padding:10px 20px;
	border:0;
	transition:0.6s ease;
}
.apply_form input[type=submit]:hover {
	background:#121315;
	color:#fff;
}
.breadcram {
	margin-top: 20px;
}
.breadcram p {
  background: #e9682e;
  color: #fff;
  font-size: 11px;
  padding: 18px 20px;
}
.content {}
.content h2 {
	font-size:20px;
}
.apply_form p {
	font-size:12px;
}
.apply_form  {
	color:#4E4E4E;
}
.program_menu {}
.program_menu ul {
	margin:0;
	padding:0;
	list-style:none;
		background: #F8F8F8; /* Old browsers */

}
.program_menu ul li {
	border-bottom:1px solid #ddd;
}
.program_menu ul li a{
	display:block;
	padding:10px 10px;
	color:#666666;
	font-weight:bold;
	transition:0.1s;
}
.program_menu ul li a:hover{

	background: #E9682E; /* Old browsers */
	text-decoration:none;
	color:#fff;
}

/* study slider */
.pika-stage img {
  width: 100%;
  height:auto;
}
.campus_slide  {
	margin-top:20px;
}


::selection {
  background: #E9682E; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E9682E; /* WebKit/Blink Browsers */
}
.about_uni h2 {
	color:#E9682E;
	font-size:20px;
}
.about_uni p {
	text-align:justify;
	font-size:14px;
}
.about_uni  {
	padding-bottom:30px;
}
.right_slider_area .bx-pager.bx-default-pager {
  display: none;
}
a:focus {
	outline:0;
}
.navbar-default .navbar-nav > li > a {
  color: #e9682e;
  padding: 24px 20px;
}
.navbar-default .navbar-nav > li > a:hover {
  background: #e9682e;
  color:#fff;
}
.container-fluid {
	margin-top:-1px;
}

 select{
	 overflow:hidden;
    width:100%;
    background: url("images/arrow-sm.png") no-repeat #fff 97% 6px !important;
    /* dropdown_arrow.png is a 31x28 image */
	text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
	cursor:pointer;
}

.navbar-nav li a {
	transition: 0.6s ease;
}
.social ul li a {
  color: #3279B7;
}
.content p {
	text-align:justify;
}
.bx-controls-direction {
  display: none;
}
. {}
. {}
. {}
. {}
. {}
. {}
. {}
. {}
. {}
. {}
. {}
. {}