@media (max-width: 767px) {

.footer_news, .links, .contact_now {
  margin-left: 0;
}
.apply_form {
	padding-left:20px;
}
.footer_about, .footer_news, .links, .contact_now {
  padding-left: 0;
}


}
@media (min-width: 768px) and (max-width: 991px) {
.footer_news, .links, .contact_now {
  margin-left: 0;
}
.apply_form {
	padding-right:20px;
	padding-left:20px;
}


}
@media (min-width: 992px) and (max-width: 1199px) {


}
@media (min-width: 1200px) {


}

@media (max-width: 767px) {


}